


body {
    background-color: aliceblue;
}

::-webkit-scrollbar {
    width: 0px;
}

.display-none {
    display: none;
}

/* CSS ANDERSON  */
.conteudoMenu{
    width: 100%;
}
.Fornecedores{
    overflow: auto;
    height: 79vh;
}

.graficoTeste{
    width: 50%;
}

.graficoDoEstoquecss{
    height: 80% !important;
}

#graficoDoEstoque {
    width: 100% !important;
    height: 100% !important;
}

.button_excluir {
    float: right;
}

/* header CSS */

.header {
    background-color: rgb(57, 66, 53);
    width: 100%;
}

.header img {
    width: 150px;
    margin: 20px;
}

.button-cadastro-header {
    background-color: rgb(255, 255, 255) !important;
    float: right;
    margin: 20px;
    border: none !important;
    color: black !important;
    font-family: arial;
}

.button-cadastro-header a {
    color: black;
}

.button-cadastro-header a:hover {
    color: black;
    text-decoration: none;
}

/* fim header */

/* inicio main */


/* login */
.main {
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.main h1 {
    text-align: center;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(128, 132, 136);
}

.banner-section {
    padding: 0px !important;
}

.linha {
    width: 100%;
    padding: 0px !important;
    margin: 0px !important;
}

.banner-p {
    padding-top: 50px ;
    font-size: 4em;
    font-family:  'Arial Narrow';
    font-variant: small-caps;
    color:aliceblue;
}

.banner-login {
    background-image: url('../img/index/bannerFundo.png');
    background-attachment: fixed;
    background-size: 1200px;
    width: 100%;
    padding-bottom: 150px;
    padding: 0px !important;
    
   
}

.banner-login form {
    
    background-color: rgb(202, 202, 207);
    width: 100%;
    height: 100%;
    border-radius: 0px 0px;
    
    padding-top: 20px;
}



.banner-login input {
    width:90%;
    border-radius: 10px;
    padding:20px;
    margin: 20px;
    margin: auto;
    
}

.form-login form{
    width: 50%;
    min-width: 250px;
    float: right;
    margin-top: 50px;
    border-radius: 20px 0px 0px 20px;
    
}


.footer-login {
    width: 100%;
}

.form-group {
    margin-bottom: 20px !important;
}

.form-control {
    margin-bottom: 20px !important;
}

.footer-login button{
    width: 100%;
    border: none;
    background-color:rgb(57, 66, 53);
    color: aliceblue;
    padding:10px;
    font-size: 2em;
    border-radius: 0px 0px 0px 10px;
}
/* fim login */

/* CSS card */

.card-function {
    width: 100%;
    background-color: white;
    padding: 20px;
    padding-top: 0px;
}

.card {
    width: 100%;
    margin-top: 20px; 
    padding-top: 0px;
    background-color: #f8f8f8 !important;
}

.card-box {
    width: 100%;
    height: 500px;
    padding: 20px;
    text-align: center;
}
.card-box i {
    font-size: 70px;
    padding: 15%;   
}
.card-box h5 p {
    text-align: center;
    font-size:small;
}
.card-title {
    margin-bottom:30px !important;
}

/* final card */

.banner-cadastro {
    width: 100%;
    height: 200px;
}


 /* tag chamadas pelo javaScript */

.modal_control {
    float:right;
}

.modal_control i {
    font-size: 1em;
}

.modal_control b {
    font-size: 3em !important;
    float: left;
}





/* Formato Geral da Pagina */

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.conteudoDashboard{
    overflow: hidden !important;
}


/* Cabeçalho SideBar Mobile */

.offcanvas-header{
    background: rgb(0 46 33);
}


/* Menu SideBar Mobile */

.offcanvas-body {
    background: rgb(0 83 62 / 85%);
}
.offcanvas-body a{
    color: white;
    display: block;
    line-height: 60px;
    text-decoration: none;
    padding-left: 30px;
    box-sizing: border-box;
}
.offcanvas-body i{
    margin-right: 10px;
}
.offcanvas-body a:hover{
    background: rgba(0, 60, 47, 0.597);
    text-decoration: none;
    color: white;
}


/* Button SideBar Mobile */

.imgLogo button{
    display:block;
    margin-left: auto;
    margin-top: -33px;
    margin-right: 23px;
    background: rgb(21, 140, 140);
    border:0
}


/* Cabeçalho Desktop */

.cabecalho{
    background: rgb(0 46 33);
    width: 100%;
    height: 70px;
}

.imgLogo img{
    width: 150px;
    margin-left: 2%;
    margin-top: 17px;
}


/* Menu SideBar Desktop */

.sideBar{
    background: rgb(0 83 62 / 85%);
    padding-top: 30px;
    position: fixed;
    width: 15%;
    height: 100%;
}

.sideBar a{
    color: white;
    display: block;
    line-height: 60px;
    text-decoration: none;
    padding-left: 30px;
    box-sizing: border-box;
}

.sideBar a:hover{
    background: rgba(0, 60, 47, 0.597);
    text-decoration: none;
    color: white;
}

.sideBar i{
    padding-right: 10px;
    font-size: 17px;
}


/* Deixar o valor do Faturamento centralizado no Desktop */

.faturamentoCentral{
    padding-top: 80px;
}


/* Barra de Rolagem da Lista de Cadastro Desktop */

.listaCadastro{
    overflow: auto;
    height: 79vh;
}


/* Graficos */

.graficoEntradaSaidacss{
    position: relative;
    margin: auto;
    width: 70%;
}

.graficoEstoqueAtualcss{
    position: relative;
    margin: auto;
    width: 70%;
}

.graficoMetaAnualcss{
    position: relative;
    margin: auto;
    width: 60%;
}
.graficoDoEstoquecss{
    position: relative;
    margin: auto;
    width: 100%;
    overflow: auto;
    height: 79vh;
}


/* GAMBIARRA? TALVEZ?! */


.ajustarContainer{
    margin-left: 15% !important;
}

@media screen and (max-width:1035px) {
    .sideBar a {
        padding-left: 10px;
    }
  }

@media screen and (max-width:900px) {
    .sideBar {
     display: none;
    }
  }

@media screen and (max-width:900px) {
    .ajustarContainer{
       margin-left: -15px !important;
    }
  }

@media screen and (min-width:900px) {
    .imgLogo button{
       display: none;
    }
  }

@media screen and (max-width:900px) {
    body {
        overflow: auto;
    }

  }